<!DOCTYPE html>
<html lang="en">

<head>

  
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script> 


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% if desc == 'Start' %}
		<title>Kenta | {{name}}</title>
	{% else %}
	<title>Kenta | Manga</title>
	{% endif %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
	<link href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
	<link href="{{ url_for('static', filename='css/templatemo-diagoona.css') }}" rel="stylesheet" />

	<link rel = "icon" href="{{ url_for('static', filename='img/icon.png') }}">

	<style>
		li , .eff {
			color: coral;
			transition: 0.2s ease;
		}
		li:hover , .eff:hover{
			color: crimson;
		}
		label{
			cursor: pointer;
		}
	</style>

  <script async src="https://arc.io/widget.min.js#FdkeFyUD"></script>

</head>
<body onload="fix()">
	<div class="tm-container">
		<div>
			<div class="tm-row pt-4">
				<div class="tm-col-left">
					<div class="tm-site-header media">
						<i class="fab fa-mandalorian fa-8x mt-1 tm-logo"></i>
						<div class="media-body">
							<h1 class="tm-sitename text-uppercase">KENTA</h1>
							<p class="tm-slogon">Manga Downloader</p>
						</div>        
					</div>
				</div>
				<div class="tm-col-right">
					<nav class="navbar navbar-expand-lg" id="tm-main-nav">
						<button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
							data-toggle="collapse" data-target="#navbar-nav" 
							aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
							<span><i class="fas fa-bars"></i></span>
						</button>
						<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
							<ul class="navbar-nav text-uppercase">
								<li class="nav-item">
									<a class="nav-link tm-nav-link" href="{{url_for('home')}}">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link tm-nav-link" href="{{url_for('downloads')}}">Downloads</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link tm-nav-link" href="">Manga <span class="sr-only">(current)</span></a>
								</li>                            
								<li class="nav-item">
									<a class="nav-link tm-nav-link" href="{{url_for('contact')}}">Contact</a>
								</li>
							</ul>                            
						</div>                        
					</nav>
				</div>
			</div>
			
			<div class="tm-row">
				<div class="tm-col-left"></div>
				<main class="tm-col-right tm-contact-main"> <!-- Content -->
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for cat,msg in messages %}
								<div class="alert" style="background-color: 
								{% if cat == 'error' %}
									#a80000
								{% elif cat == 'warning' %}
									orange
                {% elif cat == 'success' %}
                  green
								{% endif %}  
								;">
								<strong>{{msg}}</strong>
								<span class="closebtn" onclick="this.parentElement.style.display='none';fixit();">&times;</span> 
								<div class="clearfix"></div>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					
					

					<section class="tm-content tm-contact">
						
						<h2 class="mb-4 tm-content-title">Manga Downloader</h2>
						<!--<p class="mb-85">Etiam et egestas arcu. Fusce congue quis elit vitae commodo. Cras neque mauris, vehicula in ipsum sit amet, faucibus aliquam arcu.</p>-->
						<form id="contact-form" action="" method="POST">
							{% if desc=='Fetch' %}
								<div class="form-group mb-4">
									<input type="text" name="url" class="form-control" placeholder="{{placeholder}}"  autocomplete="off"/>
								</div>
								
								<div class="text-center">
									<button onclick="{{desc}}()" type="submit" class="btn btn-big btn-primary">{{desc}}</button>
								</div>
							
						</form>

						

							{% else %}
								{% if dataFrom == 'stored' %}
									<b><p style="color: crimson; font-size: 14px; font-weight: bold;">fetched data from previously made requests <form id="contact-form" action="" method="POST">
										<label style="display: inline;" for="newReq">
											<u class="eff">click here</u>
										</label>
										to send a new request
										<input style="display: none;" type="submit" value="{{ placeholder }}" id="newReq" name="newurl">
									</form></p></b>
								{% endif %}
								<div class="my-2 mb-2">
									<img style="float: left;" width="50%" src="{{cover}}" alt="cover image" class="tm-service-img">
											<div class="media-body tm-service-text">
												<p><b><u>Website</u> :</b> {{website}} </p>
												<p><b><u>Title</u> :</b> {{name}} </p>
												{% if website != 'webtoon' %}
													<p><b><u>Latest Chapter</u> :</b> {{firstChap}}</p>
												{% else %}
													{% if page == '1' %}
														<p><b><u>Latest Chapter</u> :</b> {{firstChap}}</p>
													{% endif %}
												{% endif %}
											</div> 
								</div>
								<!--<p>URL : {{placeholder}} </p>-->
								
									<p>
									<b><u>Description :</u></b> {{description[:100]}}<span id="dots">...</span><span id="more">{{description[100:]}}</span>
									</p>
									<p onclick="readMore()" id="myBtn">Read more</p>
									{% if website == 'webtoon' %}
										<form id="contact-form" action="" method="POST">
										<ul>
											{% for i in pages %}
												{% if i == page %}
													<u><b><li style="color: crimson; width: 20px; height: 20px; display: inline; padding: 5px;">{{i}}</li></b></u>
												{% else %}
													<label for="URL{{i}}">
														<b><li style=" width: 20px; height: 20px; display: inline; padding: 5px;">{{i}}</li></b>
													</label>
													<input style="display: none;" type="submit" value="{{ links[i] }}" id="URL{{i}}" name="url">
												{% endif %}
											{% endfor %}
										</ul>
										</form>
									{% endif %}
									<p>
						<form id="contact-form" action="" method="POST">
										<p> <b><u>Download all the chapters</u> :</b> <input id="chapters" type="checkbox" name="downloadAllChapters" onchange="toggleDownload(this);" value="True"> </p>
										<div id="hide">
											

											<p>
												<label for="multipleChaptersStart"><b><u>Start Downloading from</u> :</b> </label>
												<select name="multipleChaptersStart" id="multipleChaptersStart">
													{% for i in chapters %}
														{% if website == 'kissmanga' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.strip(name+' -')}}</option>
														{% elif website == 'readm.org' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
														{% elif website == 'mangaread.org' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
														{% elif website == 'webtoon' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
														{% elif website == 'manganato' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
														{% elif website == 'mangabat' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
														{% elif website == 'mangakakalot' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
														{% endif %}
													{% endfor %}
												</select>
												
												<label for="multipleChaptersEnd"><b><u>End Downloading at</u> :</b> </label>
												<select name="multipleChaptersEnd" id="multipleChaptersEnd">
												
													{% for i in chapters%}
														{% if website == 'kissmanga' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.strip(name+' -')}}</option>
														{% elif website == 'readm.org' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
														{% elif website == 'mangaread.org' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
														{% elif website == 'webtoon' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
														{% elif website == 'manganato' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
														{% elif website == 'mangabat' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
														{% elif website == 'mangakakalot' %}
															<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
														{% endif %}
													{% endfor %}
												</select>
											</p>

											
											
											<label for="chapter"><b><u>Choose a chapter to download</u> :</b></label>
											<select name="chapter" id="chapter">
												{% for i in chapters %}
													{% if website == 'kissmanga' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.strip(name+' -')}}</option>
													{% elif website == 'readm.org' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
													{% elif website == 'zinmanhwa' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
													{% elif website == 'mangaread.org' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
													{% elif website == 'webtoon' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i}}</option>
													{% elif website == 'manganato' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
													{% elif website == 'mangabat' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
													{% elif website == 'mangakakalot' %}
														<option id='option' value="{{i}}@@@{{chapters[i]}}">{{i.split(':')[0]}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									</p>
									
									<p style="font-size: 13px; color: crimson; font-weight: bold;">Note: Downloading "all the chapters" would be given more priority than others and downloaing a "range of chapters" will be given more priority than downloading a "single chapter"</p>
								
								<p>Everything looks good ? <input required="" id="checkbox_" type="checkbox" name="url" onchange="toggleLink(this);" value="{{placeholder}}"> </p>
								
							{% endif %}

							<div class="text-center">
								<button id="start" style="display:none;" type="submit" onclick="{{desc}}()" class="btn btn-big btn-primary">{{desc}}</button>
							</div>
						</form>
						
						<div id="loading">
							<div id="seq">Loading</div>
							<img src="../static/img/loading.webp" alt="loading">
						</div>
					</section>
				</main>
			</div>
		</div>        

		<div class="tm-row">
			<div class="tm-col-left text-center">            
				<ul class="tm-bg-controls-wrapper">
					<li class="tm-bg-control active" data-id="0"></li>
					<li class="tm-bg-control" data-id="1"></li>
					<li class="tm-bg-control" data-id="2"></li>
					<li class="tm-bg-control" data-id="3"></li>
					<li class="tm-bg-control" data-id="4"></li>
				</ul>            
			</div>        
			<div class="tm-col-right tm-col-footer">
				<footer class="tm-site-footer text-right">
					<p class="mb-0">Copyright 2021 Kenta</p>
								
					<a href="{{url_for('supportedwebsites')}}" class="tm-foot">Supported Websites</a>  |
					<a target="_blank" href="https://github.com/Sebastian09-09/Kenta/" class="tm-foot">Github</a>  |
					<a target="_blank" href="https://www.paypal.com/paypalme/discordpokerpg" class="tm-foot">Donate</a>
					
				</footer>
			</div>  
		</div>

		<div id="grab" class="tm-bg"> <!-- Diagonal background design -->
			<div id="handle" class="tm-bg-left"></div>
			<div class="tm-bg-right"></div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/templatemo-script.js') }}"></script>
</body>
</html>